<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/css/style.css">
    <title>posts</title>

</head>

<body>
    <div class="header"><span class="header-content">Welcome to Dru's Website</span></div>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/views/post.html">Journal</a>
        <a href="/views/contact.html">Contact</a>
    </div>





    <div class="journal-main-container">
        <div class="create-post-container">
            <input class="post-title" type="text" placeholder="Title">

            <textarea class="post-description" type="text" placeholder="Description"></textarea>
            <button class="post-submit">post</button>


        </div>



        <div class="post-container"></div>

    </div>


    <script type="module" type="text/javascript" src="http://localhost:3000/js/index.js"></script>
</body>
</body>

</html>